@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    display: grid;
    place-items: center;
    background: #3b395c;
    text-align: center;
}

.swipercard {
    width: 360px;
    overflow: hidden;
    padding: 0;
    border-radius: 10px;
    background: linear-gradient(180deg,rgba(0, 0, 0, 0.5) 63.42%, rgba(0, 0, 0, 0) 44.52%, rgba(0, 0, 0, 0.95) 63.42%);

}

.swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 40px 0 130px; */
}

.swiper-slide img {
    height: 100px;
    margin-bottom: 10px;
   
}

.swiper-slide h2 {
    color: #f9f9f9;
    margin: 0 0 24px;
    font-weight: 500;
}

.swiper-slide h3 {
    color: rgba(255, 255, 255, 0.5);
    margin: 0 0 24px;
    font-weight: 400;
    font-size: 14px;
    align-self: stretch;
}

.swiper-slide input,
.swiper-slide button {
    display: block;
    width: 240px;
    height: 48px;
    margin: 0 70px;
    border-radius: 24px;
    font-size: 16px;
    font-family: inherit;
    outline-color: #3181f8;
    text-align: center;
}

.swiper-slide input {
    border: 1px solid;
    background: transparent;
    padding: 12px;
    color: #f9f9f9;
}

.swiper-slide input::placeholder {
    color: rgba(255, 255, 255, 0.3);
}

.swiper-slide button {
    background: #0f0e10b9;
    color: #f9f9f9;
    border: 0;
    cursor: pointer;
}

.swiper .swiper-pagination .swiper-pagination-bullet {
    box-shadow: none;
    background: #fcfcfffe;
    width: 16px;
    height: 16px;
}

.swiper-horizontal .swiper-pagination-bullets.swiper-pagination-horizontal {
    top: auto;
    bottom: 56px;
}


.firstslide{
    min-height: 100vh;
    background-image: url(../Mask\ group-1.png);
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    background-position: center;
    background-size: cover;
}
/* .firstslide_details{
    background: linear-gradient( rgba(0, 0, 0, 0) 4.52%, rgba(0, 0, 0, 0.95) 33.42%);

    box-shadow: inset 2px 3px 5px #000000, 0px 1px 1px #333;
    transform: translateY(270%);
    padding: 12px 12px 10px 2px;
    margin: 0 0 5rem 0;
} */
.secondslide{
    min-height: 100vh;
    background-image: url(../Mask\ group.png);
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    background-position: center;
    background-size: contain;
}
.secondslide_details{
    background: linear-gradient( rgba(0, 0, 0, 0.3) 3.52%, rgba(0, 0, 0, 0.95) 30.42%);
    box-shadow: rgba(0, 0, 0, 0.35) 50px 0px 36px -28px inset;
    transform: translateY(100%);
    display: flex;
    flex-direction: column;
    align-content: baseline;
    /* transform: translateY(150%); */
    /* height: 480px; */

    /* padding: 2px 12px 5px 2px; */
    /* margin: 0 0 2rem 0; */
    /* padding-bottom: 5rem; */
}
.secondslide_details h3, ul li{
    color: #f9f9f9;
    margin-bottom: 2px;
}
.thirdslide{
    min-height: 100vh;

    background-image: url(../Mask\ group-1.png);
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    background-position: center;
    background-size: cover;
}
.thirdslide_details{
    background: linear-gradient( rgba(22, 18, 18, 0) 3.52%, rgba(0, 0, 0, 0.95) 30.42%);
    transform: translateY(270%);
    padding: 2px 2px 1rem 2px;
    margin: 0 0 2rem 0;
}
.thirdslide_details button{
    color:  rgba(2, 47, 142, 1);
    background: #f9f9f9;
    /* padding-bottom: 100px; */
}

.slide-details{

    background: linear-gradient( rgba(22, 18, 18, 0) 3.52%, rgba(0, 0, 0, 0.95) 30.42%);
    transform: translateY(210%);
    align-items: center;
    align-self: baseline;
    justify-content: center;
    display: flex;
    flex-direction: column;
    /* padding: 2px 2px 1rem 2px; */
    padding: 40px;
    padding-bottom: 100px;
    margin: 0 0 2rem 0;
    margin-top: -170px;
}

@media screen and (max-width: 360px) {
    .firstslide{
        min-height: 100vh;
        background-image: url(../Mask\ group-1.png);
        background-attachment: fixed;
        background-position: center;
        width: 0%;
        background-position: center;
        background-size: cover;
    }
    /* .firstslide_details{
        background: linear-gradient( rgba(0, 0, 0, 0) 4.52%, rgba(0, 0, 0, 0.95) 33.42%);
    
        box-shadow: inset 2px 3px 5px #000000, 0px 1px 1px #333;
        transform: translateY(270%);
        padding: 12px 12px 10px 2px;
        margin: 0 0 5rem 0;
    } */
    .secondslide{
        min-height: 100vh;
        background-image: url(../Mask\ group.png);
        background-attachment: fixed;
        background-position: center;
        width: 100%;
        background-position: center;
        background-size: contain;
    }
    .secondslide_details{
        background: linear-gradient( rgba(0, 0, 0, 0.3) 3.52%, rgba(0, 0, 0, 0.95) 30.42%);
        box-shadow: rgba(0, 0, 0, 0.35) 50px 0px 36px -28px inset;
        transform: translateY(100%);
        display: flex;
        flex-direction: column;
        align-content: baseline;
        /* transform: translateY(150%); */
        /* height: 480px; */
    
        /* padding: 2px 12px 5px 2px; */
        /* margin: 0 0 2rem 0; */
        /* padding-bottom: 5rem; */
    }
    .secondslide_details h3, ul li{
        color: #f9f9f9;
        margin-bottom: 2px;
    }
    .thirdslide{
        min-height: 100vh;
    
        background-image: url(../Mask\ group-1.png);
        background-attachment: fixed;
        background-position: center;
        width: 100%;
        background-position: center;
        background-size: cover;
    }
    .thirdslide_details{
        background: linear-gradient( rgba(22, 18, 18, 0) 3.52%, rgba(0, 0, 0, 0.95) 30.42%);
        transform: translateY(270%);
        padding: 2px 2px 1rem 2px;
        margin: 0 0 2rem 0;
    }
    .thirdslide_details button{
        color:  rgba(2, 47, 142, 1);
        background: #f9f9f9;
        /* padding-bottom: 100px; */
    }
    
    .slide-details{
    
        background: linear-gradient( rgba(22, 18, 18, 0) 3.52%, rgba(0, 0, 0, 0.95) 30.42%);
        transform: translateY(150%);
        align-items: center;
        align-self: baseline;
        justify-content: center;
        display: flex;
        flex-direction: column;
        /* padding: 2px 2px 1rem 2px; */
        padding: 40px;
        padding-bottom: 100px;
        margin: 0 0 2rem 0;
        margin-top: -170px;
    }
    
}

@media screen and (max-width: 380px) and (min-width: 360px) {
    .firstslide{
        min-height: 100vh;
        background-image: url(../Mask\ group-1.png);
        background-attachment: fixed;
        background-position: center;
        width: 50%;
        background-position: center;
        background-size: 300px;
        background-repeat: no-repeat;
    }
    /* .firstslide_details{
        background: linear-gradient( rgba(0, 0, 0, 0) 4.52%, rgba(0, 0, 0, 0.95) 33.42%);
    
        box-shadow: inset 2px 3px 5px #000000, 0px 1px 1px #333;
        transform: translateY(270%);
        padding: 12px 12px 10px 2px;
        margin: 0 0 5rem 0;
    } */
    .secondslide{
        min-height: 100vh;
        background-image: url(../Mask\ group.png);
        background-attachment: fixed;
        background-position: center;
        width: 50%;
        background-position: center;
        background-size: 300px;
        background-repeat: no-repeat;
    }
    .secondslide_details{
        background: linear-gradient( rgba(0, 0, 0, 0.3) 3.52%, rgba(0, 0, 0, 0.95) 30.42%);
        box-shadow: rgba(0, 0, 0, 0.35) 50px 0px 36px -28px inset;
        transform: translateY(90%);
        display: flex;
        flex-direction: column;
        align-content: baseline;
        /* transform: translateY(150%); */
        /* height: 480px; */
    
        /* padding: 2px 12px 5px 2px; */
        /* margin: 0 0 2rem 0; */
        /* padding-bottom: 5rem; */
    }
    .secondslide_details h3, ul li{
        color: #f9f9f9;
        margin-bottom: 2px;
    }
    .thirdslide{
        min-height: 100vh;
    
        background-image: url(../Mask\ group-1.png);
        background-attachment: fixed;
        background-position: center;
        width: 50%;
        background-position: center;
        background-size: 300px;
        background-repeat: no-repeat;
    }
    .thirdslide_details{
        background: linear-gradient( rgba(22, 18, 18, 0.3) 3.52%, rgba(0, 0, 0, 0.95) 30.42%);
        transform: translateY(180%);
        padding: 2px 2px 60px 2px;
        margin: 0 0 2rem 0;
    }
    .thirdslide_details button{
        color:  rgba(2, 47, 142, 1);
        background: #f9f9f9;
        /* padding-bottom: 100px; */
    }
    
    .slide-details{
    
        background: linear-gradient( rgba(22, 18, 18, 0) 3.52%, rgba(0, 0, 0, 0.95) 30.42%);
        transform: translateY(180%);
        align-items: center;
        align-self: baseline;
        justify-content: center;
        display: flex;
        flex-direction: column;
        /* padding: 2px 2px 1rem 2px; */
        padding: 40px;
        padding-bottom: 100px;
        margin: 0 0 2rem 0;
        margin-top: -170px;
    }
    
}

@media screen and (max-width: 430px) and (min-width: 380px){
    .firstslide{
        min-height: 100vh;
        background-image: url(../Mask\ group-1.png);
        background-attachment: fixed;
        background-position: center;
        width: 50%;
        background-position: center;
        background-size: 300px;
        background-repeat: no-repeat;
    }
    /* .firstslide_details{
        background: linear-gradient( rgba(0, 0, 0, 0) 4.52%, rgba(0, 0, 0, 0.95) 33.42%);
    
        box-shadow: inset 2px 3px 5px #000000, 0px 1px 1px #333;
        transform: translateY(270%);
        padding: 12px 12px 10px 2px;
        margin: 0 0 5rem 0;
    } */
    .secondslide{
        min-height: 100vh;
        background-image: url(../Mask\ group.png);
        background-attachment: fixed;
        background-position: center;
        width: 50%;
        background-position: center;
        background-size: 300px;
        background-repeat: no-repeat;
    }
    .secondslide_details{
        background: linear-gradient( rgba(0, 0, 0, 0.3) 3.52%, rgba(0, 0, 0, 0.95) 30.42%);
        box-shadow: rgba(0, 0, 0, 0.35) 50px 0px 36px -28px inset;
        transform: translateY(100%);
        display: flex;
        flex-direction: column;
        align-content: baseline;
        /* transform: translateY(150%); */
        /* height: 480px; */
    
        /* padding: 2px 12px 5px 2px; */
        /* margin: 0 0 2rem 0; */
        /* padding-bottom: 5rem; */
    }
    .secondslide_details h3, ul li{
        color: #f9f9f9;
        margin-bottom: 2px;
    }
    .thirdslide{
        min-height: 100vh;
    
        background-image: url(../Mask\ group-1.png);
        background-attachment: fixed;
        background-position: center;
        width: 50%;
        background-position: center;
        background-size: 300px;
        background-repeat: no-repeat;
    }
    .thirdslide_details{
        background: linear-gradient( rgba(22, 18, 18, 0) 3.52%, rgba(0, 0, 0, 0.95) 30.42%);
        transform: translateY(210%);
        padding: 2px 2px 60px 2px;
        margin: 0 0 2rem 0;
    }
    .thirdslide_details button{
        color:  rgba(2, 47, 142, 1);
        background: #f9f9f9;
        /* padding-bottom: 100px; */
    }
    
    .slide-details{
    
        background: linear-gradient( rgba(22, 18, 18, 0) 3.52%, rgba(0, 0, 0, 0.95) 30.42%);
        transform: translateY(210%);
        align-items: center;
        align-self: baseline;
        justify-content: center;
        display: flex;
        flex-direction: column;
        /* padding: 2px 2px 1rem 2px; */
        padding: 40px;
        padding-bottom: 100px;
        margin: 0 0 2rem 0;
        margin-top: -170px;
    }
    
}